Repository jbmilgrom/create-react-app-typescript-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tslint --write

Let's remove eslint
  .eslintrc.js
  .lintstagedrc
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix, tslint --write

Messing around
  .lintstagedrc
Due: none

Messing
  src/App.tsx
Due: tslint --write

Working with quotes
  src/App.tsx
Due: tslint --write

slick nasty
  src/components/MyInput.tsx
Due: tslint --write

Finished formatting?
  src/App.tsx
Due: tslint --write

comment up slickNasty
  src/components/MyInput.tsx
Due: tslint --write

Forgot to remove an uneccesary if
  src/App.tsx
Due: tslint --write

Fix prettier dependencies
  package.json
  yarn.lock
Due: none

Full formatting
  src/App.tsx
  src/components/Hello.test.tsx
  src/components/MyInput.tsx
Due: tslint --write

No need to format files we won't be writing
  .lintstagedrc
  package.json
Due: none

test
  src/App.tsx
Due: tslint --write

double test
  .lintstagedrc
  src/App.tsx
Due: tslint --write

shits broken
  package.json
  src/App.tsx
  yarn.lock
Due: tslint --write

Does this work yet?
  src/App.tsx
  tslint.json
Due: tslint --write

Does it work now?
  .lintstagedrc
  package.json
  src/App.tsx
Due: tslint --write

Does this work?
  package.json
  src/App.tsx
Due: tslint --write

Still working on it
  .lintstagedrc
  package.json
  src/App.tsx
Due: tslint --write

Keep working
  package.json
  src/App.tsx
Due: tslint --write

If this works....
  package.json
  src/App.tsx
Due: tslint --write

That did work.
  package.json
  src/App.tsx
Due: tslint --write

No package.json?
  .lintstagedrc
  package.json
  src/App.tsx
Due: tslint --write

Remove sillyness, fix prettier script
  src/App.tsx
Due: tslint --write

No ignore methods
  .lintstagedrc
  src/App.tsx
  tslint.json
Due: tslint --write

No ignore methods, with ts
  .lintstagedrc
  src/App.tsx
Due: tslint --write

Resolving issues
  .lintstagedrc
  src/App.tsx
Due: tslint --write

Fixing
  .lintstagedrc
Due: none

More fixing
  .lintstagedrc
Due: none

More fixing
  src/App.tsx
Due: tslint --write

Remove ts
  .lintstagedrc
  src/App.tsx
Due: tslint --write

Does it work without tsx
  .lintstagedrc
  src/App.tsx
Due: tslint --write

Add ts and tsx
  .lintstagedrc
  src/App.tsx
Due: tslint --write

Add ts and tsx
  .lintstagedrc
Due: none

Add ts and tsx
  src/App.tsx
Due: tslint --write

test out children key word
  src/App.tsx
  src/components/InputError.tsx
Due: tslint --write

We need this ignore
  tslint.json
Due: none

Two lines
  tslint.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  tslint --write: any of: *.tsx
